* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title {
    font-family: 'Helvetica', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    color: #FEFEFE;
}

.container-title > span {
    color: #FEBC38;
}

.container-enlace {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

span.icon {
    font-size: 75px;
    cursor: pointer;
    color: #FEFEFE;
    transition: all 0.5s;
}

.icon:hover {
    color: #FEBC38;
    transform: scale(1.2);
}

.contenedor-icon {
    width: 250px;
    display: flex;
    justify-content: space-around;
}