* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-title {
    font-family: 'Helvetica', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    color: #FEFEFE;
}

.container-title > span {
    color: #FEBC38;
}

.container-enlace {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

span.icon {
    font-size: 75px;
    cursor: pointer;
    color: #FEFEFE;
    transition: all 0.5s;
}

.icon:hover {
    color: #FEBC38;
    transform: scale(1.2);
}

.contenedor-icon {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 576px) {
    .container-title {
        font-family: 'Helvetica', sans-serif;
        font-size: 10px;
        font-weight: 600;
        line-height: 1.1;
        color: #FEFEFE;
        text-align: center;
    }

    .contenedor-icon {
        width: 300px;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    span.icon {
        font-size: 65px;
        cursor: pointer;
        color: #FEFEFE;
        transition: all 0.5s;
    }
}

@media screen and (max-width: 768px) {
    .container-title {
        font-size: 60px;
        width: 95%;
    }
}