* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #1D2126;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title {
    font-family: 'Helvetica', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    color: #C4CFDE;
}

.container-title > span {
    color: #FF014F;
}

.container-enlace {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.fa-note-sticky {
    font-size: 3em;
    color: white;
    transition: all 0.5s;
    height: 20px;
}

.fa-note-sticky:hover {
    transform: scale(1.2);
    color: #C4CFDE;
}



