* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: auto;
}

.title {
    font-family: Poppins, Arial, SansSerif, serif;
    color: #fff;
    font-weight: 900;
    font-size: 27px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
}

.notes-container {
    height: auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 13px;
    color: white;
}

.notes {
    grid-column: span 1;
    grid-row: span 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(200, 200, 200, 0.8);
    transition: transform .2s;
}

.notes time {
    color: #FEBC38;
    font-size: 16px;
}

.notes-enlace {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notes-intro {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.notes:hover {
    transform: rotate(-1deg);
}

