* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000000;
}

.icons {
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.icon-set {
    width: 50%;
    display: flex;
    justify-content: space-around;
}   

.icon-container {
    border: solid 1px #DFDFDF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    cursor: pointer;
}


.icon {
    color: aliceblue;
    font-size: 47px;
}

.text {
    color: azure;
    font-size: 18px;
}

.cronometro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 95px);
}

.cronometro-container > p {
    color: aliceblue;
    font-size: 140px;
}

.btn {
    border: none;
    width: 90px;
    height: 33px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.1s;
    font-weight: 550;
    letter-spacing: 1px;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.reset-btn {
    background-color: #59B87E;
}

.start-btn {
    background-color: #FEBC38;
}

.icon-container:nth-child(1) > span,
.icon-container:nth-child(1) > .text {
    color: #FEBC38;
}

.icon-container:nth-child(1) {
    border: solid 1px #FEBC38;
}