* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000000;
}

.icons {
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.icon-set {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.icon-container {
  border: solid 1px #dfdfdf;
  width: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  color: aliceblue;
  font-size: 47px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.text {
  color: azure;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 10px;
}

.cronometro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 95px);
}

.cronometro-container > p {
  color: aliceblue;
  font-size: 140px;
}

.contenedor > p {
  color: aliceblue;
  font-size: 140px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: none;
  width: 90px;
  height: 33px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  transition: all 0.1s;
  font-weight: 550;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

.reset-btn {
  background-color: #59b87e;
}

.start-btn {
  background-color: #febc38;
}

.icon-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reloj-item {
    border: solid 1px #febc38;
}

.reloj-item > span,
.reloj-item .text {
    color: #FEBC38;
}

.pomodoro {
  border: solid red 2px;
  height: 400px;
  width: 800px;
}

.botones-pomodoro > .btn {
  background-color: #59b87e;
  height: 25px;
  font-weight: 600;
  width: 85px;
}

.botones-pomodoro {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

/*esta clase es la que colocare cuando este sobre el boton estudiar o
descansar.
Eliminar luego.
*/
.boton-escogido {
  border: none;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  transition: all 0.1s;
  letter-spacing: 1px;
  background-color: aliceblue;
  height: 25px;
  font-weight: 600;
  width: 85px;
}

